.titre 
{
    color: grey;
}

/* debut  pour le menus */
ul 
{
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    overflow: hidden;
    background-color: #333;
}

li 
{
    float: left;
}

li a 
{
    display: block;
    color: white;
    text-align: center;
    padding: 15px 16px;
    text-decoration: none;
}
/* fin pour le menus */
.chapitre1 
{
   display: none;
   color: white;
}

nav li:hover .chapitre1 
{
    color: white;
   display: inline-block;
   position: absolute;
}
.image /* image de la page d'accueil */ 
{
     background-image: url("beemo.jpg");
     background-repeat: no-repeat;
     background-size: cover;
     -webkit-background-size: cover;
     -moz-background-size: cover;
     -o-background-size: cover;
     height: 100%;

}

nav a:hover {
    text-decoration: underline !important;
    color: #0056b3 !important;
    cursor: pointer;
} 